body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-size: 30px;
}

#grid{
    width: 800px;
    height: 800px;
    display: grid;
    border: solid black 3px;
    background-color: black;
    grid-gap: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.chunk{
    background-color: white;
}

.chunk:hover{
    cursor: pointer;
}

.blue{
    background-color: skyblue;
}
.blue:hover{
    cursor: default;
}

.red{
    background-color: red;
}
.red:hover{
    cursor: default;
}


#curtain{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 5;
    background-color: rgba(238, 255, 5, 0.205);
}

#curtain div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: slateblue;
    align-items: center;
    font-size: 70px;
    font-weight: bolder;
}